
.center_btn {
    margin-top: 10%;
}

.btn_login {
    --border-radius: 14px;
}

.margen_input{
    margin: 0% 10% 0% 10%;
}

.padding_input{
    padding: 0px 10px 0px 5px;
}

.viewpassword{
    height: 24px;
    width: 21px;
    color: darkgray;
}