

<ion-content [fullscreen]="true">

    <div>
        <div>
            <img src="/assets/img/4058271.jpg" alt="">
        </div>

        <div class="margen_input">

            <div>
                <ion-input  class="border_input"  placeholder="Usuario o correo electronico" ></ion-input>
            </div>
            <br>
            <div>
                <ion-row class="border_input" > 
                    <ion-col size="10" class="padding_input">
                        <ion-input placeholder="contraseña" type="{{typeimput}}" ></ion-input>
                    </ion-col>
                    <ion-col size="2" style="text-align: center;">
                        <ion-icon *ngIf="typeimput == 'password'" name="eye-outline" class="viewpassword" (click)="viewPassword(false)"> </ion-icon>
                        <ion-icon *ngIf="typeimput == 'text'" name="eye-off-outline" class="viewpassword" (click)="viewPassword(true)"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
              
        </div>

        <div>
            <ion-row class="center_btn txt_center">
                <ion-col size="12">
                    <ion-button class="btn_login">iniciar sesion</ion-button>
                </ion-col>
              
                <ion-col size="12">
                    <p >¿Todavia no teines una cuenta? registrate <a (click)="registerNewUser()">aqui</a> </p>
                </ion-col>
            </ion-row>
      </div>
      
    </div>

</ion-content>