
<ion-header class="lona">
  <div class="header">
    <ion-icon class="back" name="arrow-back-outline" (click)="backpage()"></ion-icon>
  </div>
</ion-header>


<ion-content>

  <div style="margin-top: 15px;">
    <div>
      <ion-row class="">
        <ion-col size="1"></ion-col>
        <ion-col size="10" style=" text-align: center;">
          <ion-icon *ngIf="imgProfile == null || imgProfile == undefined" class="img_profile" name="person-outline"></ion-icon>
          <img *ngIf="imgProfile != null || imgProfile != undefined" class="img_profile" style="height: 173px; width: 173px;"  [src]="_DomSanitizationService.bypassSecurityTrustUrl(imgProfile)" >
          <ion-icon class="camera" name="camera-outline" (click)="presentActionSheet()"></ion-icon>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </div>

    <div style="margin: 2% 5% 0% 5%;">

      <form [formGroup]="dataUser">
        <div>
          <ion-row>
            <ion-col size="6">
              <ion-label>Nombre(s):</ion-label>
              <ion-input  type="text" class="border_input" formControlName="name"  placeholder="Nombre(s)"  (input)="onInputname($event)"></ion-input>
            </ion-col >

            <ion-col size="6">
              <ion-label>Apellido(s)</ion-label>
              <ion-input type="text" class="border_input"  formControlName="lastname"  placeholder="Apellido(s)" (input)="onInputlastmane($event)" ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Correo electronico</ion-label>
              <ion-input type="text" class="border_input" [ngClass]=" (validEmail)? '' : 'input_data_check_error'"  formControlName="email"  placeholder="Correo electronico" (input)="onInputemail($event)" ></ion-input>
            </ion-col>
          
            <ion-col size="12">
              <ion-label>Contraseña</ion-label>
              <div class="border_input gind_btn_icon">
                <div class="padding_input">
                  <ion-input formControlName="password"  placeholder="contraseña" type="{{typeimput}}" ></ion-input>
                </div>
                <div>
                  <ion-icon *ngIf="typeimput == 'password'" name="eye-outline" class="viewpassword" (click)="viewPassword(1,'text')"> </ion-icon>
                  <ion-icon *ngIf="typeimput == 'text'" name="eye-off-outline" class="viewpassword" (click)="viewPassword(1,'password')"></ion-icon>
                </div>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-label>Confirmar tu contraseña <br><span *ngIf="!equalspassword" style="color: red; font-size: 12px;">* la contraseña no es igual</span></ion-label>
              <div class="border_input gind_btn_icon" [ngClass]=" (equalspassword)? '' : 'input_data_check_error'">
                <div class="padding_input">
                  <ion-input formControlName="passwordconfirm"  placeholder="contraseña" type="{{typeimput2}}" (input)="onInputpasswordConfirm($event)" ></ion-input>
                </div>
                <div>
                  <ion-icon *ngIf="typeimput2 == 'password'" name="eye-outline" class="viewpassword" (click)="viewPassword(2,'text')"> </ion-icon>
                  <ion-icon *ngIf="typeimput2 == 'text'" name="eye-off-outline" class="viewpassword" (click)="viewPassword(2,'password')"></ion-icon>
                </div>
              </div>
            </ion-col>
          </ion-row>

        </div>

        
        <div>
          <ion-row class="center_btn txt_center">
            <ion-col size="12">
              <ion-button class="btn_generic" [disabled]="!(dataUser.valid && validEmail && equalspassword)" (click)="registerUser()">Registrate</ion-button>
            </ion-col>
          </ion-row>
        </div>

      </form>
    </div>
   
  </div>



</ion-content>
