.back{
    height: 40px;
    width: 30px;
    color: white;
    border: solid;
    border-radius: 112px;
}

.header{
    padding: 0px 0px 0px 10px;
}

.img_profile{
    height: 150px;
    width: 150px;
    border: 11px solid #8fd3f8;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%); 
    background: #c8e8ff99;
    color: #90d5f6;
}

.viewpassword{
    height: 24px;
    width: 21px;
    color: darkgray;
    padding-top: 7px;
}
.padding_input{
    padding: 0px 10px 0px 5px;
}

.camera{
    height: 30px;
    width: 30px;
    border: 3px solid #00314f;
    border-radius: 14px;
    margin-left: -25px;
    background: white;
    color: #00314f;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
}

.center_btn {
    margin-top: 10%;
}

.txt_center {
    text-align: center;
}

.lona{
    z-index: 0;
    
    background: url('/assets/img/lona.png') no-repeat ;
    background-size: 100% 100%;
    
}

.input_data_check_error{
    border: 1px solid red;
}

::ng-deep .match-item-action-sheet .action-sheet-group.sc-ion-action-sheet-md:first-child{
    border-radius: 30px;   
    margin: 10px 10px 20px 10px;
}

::ng-deep .match-item-action-sheet .action-sheet-group.sc-ion-action-sheet-md:last-child {
   
    border-radius: 30px;   
    margin: 10px 10px 20px 10px;
}

::ng-deep .match-item-action-sheet .botoncancelar{
    justify-content: center;
    display: grid;
    background: red;
    color: white;
}

::ng-deep .match-item-action-sheet .action-sheet-title.sc-ion-action-sheet-md{
    text-align: center;
}

::ng-deep .match-item-action-sheet .action-sheet-icon.sc-ion-action-sheet-md{
    color: #00a3e8;
}


